[Unit]
Description=CamillaDSP Daemon
After=syslog.target
StartLimitIntervalSec=10
StartLimitBurst=10
ConditionPathExists=/data/config/camilladsp
ConditionPathExists=/data/config/camilladsp-system

[Service]
Type=simple
ExecStart=/usr/bin/camilladsp /data/config/camilladsp
Restart=always
RestartSec=1
User=root
Group=root
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=10

[Install]
WantedBy=multi-user.target
